

<script type="text/javascript">
   var addonchat = {
      server:12, id:593272, width:"600",
      height:"425", signed:true, language:"en" }
   </script>
   <script type="text/javascript"
   src="http://client12.addonchat.com/chat.js"></script><noscript>
   To enter this chat room, please enable JavaScript in your web
   browser. This <a href="http://www.addonchat.com/">Chat
   Software</a> requires Java: <a href="http://www.java.com/">Get
   Java Now</a>
</noscript>

